<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.metrostate.ics372.br16groupassignment3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClinicActivity" />
        <activity android:name=".PatientActivity" />
        <activity android:name=".ReadingActivity" />
        <activity android:name=".ShowReadingsActivity" />
        <activity android:name=".UpdatePatientStatusActivity"></activity>
    </application>

</manifest>